.cache/
.dotfiles/
.oh-my-zsh/
.vscode-oss/
Downloads/
Desktop/
Music/
tmp/
.gnupg/
.lesshst
.p10k.zsh
.viminfo
.wget-hsts
.Xauthority
.zcompdump*
.zsh_history
.mpd/
.pki/
.lyrics/
.mozilla/
.git-credentials
.calc_history
