.bash_history
.cache/
.calc_history
.cargo/
.dotfiles/
.Fontmatrix/
.git-credentials
.gnupg/
.julia/
.lesshst
.lyrics/
.mozilla/
.mpd/
.npm/
.npm-packages/
.p10k.zsh
.pki/
.pyenv/
.python_history
.rustup/
.surf/
.tmux/
.vim_mru_files
.vim-bookmarks
.vim/
.viminfo
.vscode-oss/
.wget-hsts
.Xauthority
.zcompdump*
.zsh_history
Desktop/
Downloads/
Music/
Projects/
tmp/
